@using ToDoList.Core.Models.ToDoItem
@using ToDoList.Core.Repository

@model List<ToDoItems>

@{
    ViewData["Title"] = "Home Page";
}

@inject ToDoItemsService Service

<head>
    <meta  name="viewport", content="width=device=width"/>
    <title>ViewToDo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Table.cshtml/Table.cshtml.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body >
    <div class="row text">
        @foreach (var item in Model)
        {
            <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 align-self-center g-2 g-lg-3" align="center">
                <form asp-controller="ToDoList" asp-action="ChangeExecution" method="post" asp-route-id="@item.Id" class="styled" name="changeItem">
                    <input type="checkbox" value="@item.IsCaseCompletion" checked="@item.IsCaseCompletion" name="checkbox" onclick="this.form.submit()" />
                </form>
            </div>

            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-7 col-sm-7 col-11 align-self-center g-2 g-lg-3" align="center">

                @using (Html.BeginForm("ChangeDescription", "ToDoList", FormMethod.Post))
                {
                    @Html.Hidden("Id", item.Id)

                    @if (item.IsCaseCompletion)
                    {
                        <textarea asp-for='@item.Description'
                                  class="form-control description-txt strikethroughText"
                                  name="Description"
                                  onchange="this.form.submit()"
                                  onclick="autoExpand(this)"
                                  rows="1">
                        </textarea>
                    }
                    else 
                    {
                        <textarea asp-for='@item.Description'
                                  class="form-control description-txt"
                                  name="Description"
                                  onchange="this.form.submit()"
                                  onclick="autoExpand(this)"
                                  rows="1">
                        </textarea>
                    }                       
                }
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-6 align-self-center g-2 g-lg-3" align="center">

                <form asp-controller="ToDoList" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" class="c-button" />
                </form>

            </div>

            <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-6 align-self-center g-2 g-lg-3" align="center">

                <form asp-controller="ToDoList" asp-action="Edit" method="get" asp-route-id="@item.Id">
                    <input type="submit" value="Edit" class="c-button" />
                </form>

            </div>
        }

    </div>

    <script>
        function autoExpand(element) {
            element.style.height = 'auto';
            element.style.height = (element.scrollHeight) + 'px';
        }
    </script>

    <script>

        $(document).ready(function () {
            $("textarea, .description").each(function () {
                autoExpand(this);
            });
        });

        window.onresize = function () {
            $("textarea, .description").each(function () {
                autoExpand(this);
            });
        }

    </script>

</body>
