@using ToDoList.Core.Models.ToDoItem
@using ToDoList.Core.Repository

@model List<ToDoItems>

@{
    ViewData["Title"] = "Home Page";
}

@inject ToDoItemsService Service

<head>
    <meta  name="viewport", content="width=device=width"/>
    <title>ViewToDo</title>
    <link rel="stylesheet" href ="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body >
    <div class="accordion-body">
        <table class="p-1 table table-condensed table-hover" style="width:100%">
            <thead>
                <tr class="border-bottom">
                    <th style="text-align:center; width:10%;"></th>
                    <th style="text-align:center; width:86%;"></th>
                    <th style="text-align:center; width:7%;"></th>
                    <th style="text-align:center; width:7%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border-bottom">

                        <td style="text-align:center">
                            <form asp-controller="ToDoList" asp-action="ChangeExecution" method="post" asp-route-id="@item.Id" class="styled" name="changeItem">
                                <input type="checkbox" value="@item.IsCaseCompletion" checked="@item.IsCaseCompletion" name="checkbox" onclick="this.form.submit()"/>
                            </form>
                        </td>

                        @if (item.IsCaseCompletion)
                        {
                            <td>
                                @using (Html.BeginForm("ChangeDescription", "ToDoList", FormMethod.Post))
                                {
                                    @Html.Hidden("Id", item.Id)
                                    <textarea asp-for='@item.Description' class="form-control description-txt strikethroughText" name="Description" onchange="this.form.submit()" onclick="autoExpand(this)" rows="1"></textarea>
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @using (Html.BeginForm("ChangeDescription", "ToDoList", FormMethod.Post))
                                {
                                    @Html.Hidden("Id", item.Id)
                                    <textarea asp-for='@item.Description' class="form-control description-txt" name="Description" onchange="this.form.submit()" onclick="autoExpand(this)" rows="1"></textarea>
                                }
                            </td>
                        }

                        <td style="text-align:center">

                            <form asp-controller="ToDoList" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input type="submit" value="Delete" class="c-button" />
                            </form>

                        </td>

                        <td style="text-align:center">

                            <form asp-controller="ToDoList" asp-action="Edit" method="get" asp-route-id="@item.Id">
                                <input type="submit" value="Edit" class="c-button" />
                            </form>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div> 

    <script>
        function autoExpand(element) {
            element.style.height = 'auto';
            element.style.height = (element.scrollHeight) + 'px';
        }
    </script>

    <script>
        $(document).ready(function () {
            $("textarea, .description").each(function () {
                autoExpand(this);
            });
        });

        window.onresize = function () {
            $("textarea, .description").each(function () {
                autoExpand(this);
            });
        }
    </script>

    <style>
        .description-txt {
            text-align: left;
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(0, 0, 0, 0);
            overflow: hidden;
        }

        .strikethroughText {
            text-decoration: line-through;
        }
    </style>

</body>
